{% extends 'base.html.twig' %}

{% block title %}Create Form{% endblock %}

{% block body %}

    <h1>Create a Team</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.numberOfMembers) }}
    

        <button type="submit" class="btn">Create</button>
    {{ form_end(form) }}
{% endblock %}